




<h1>botanical</h1>
	
	<p>
		This is the generic library that is used by "body_scan"
		and it should really only be used by "body_scan".
		
		As well, the checks in the this one should not utilize
		"body_scan", and instead should use "unit test".
		
		For a more advanced library that is maintained with "body_scan",
		there is "botanical".
	</p>


	publish:
		# change setup.py version
		
		(git commit -am "0.0.3" && git tag 0.0.3)
		(rm -rf dist && python3 -m build --sdist && twine upload dist/*)
		
		<b>The new distribution status check</b>
			(cd STATUS/THIS_MODULE_PIP && rm -rf *)
			(cd STATUS && pip install "botanist==0.0.3" --target THIS_MODULE_PIP)
			
			#
			#	CHANGE UT_STATUS MODULE SELECTOR
			#
			
			(cd STATUS && python -m unittest *STATUS.py)
			
	<h2>status</h2>
		<h3>start check of local module</h3>
			(cd status && python -m unittest *status.py)
	
		<h3>start the check of the most recent pip module</h3>
	
		<b>BUILD</b>
			#
			#	SYMLINK THE SOURCE MODULE	
			#
			(cd STATUS_ORIGINAL/THIS_MODULE && ln -s ../../src BOTANIST)
			
			#
			#	ADD THE SOURCE MODULES REQUIREMENT MODULES
			#
			(cd STATUS_ORIGINAL && pip install --requirement PIP.MODULES --target MODULES_PIP)
			
		<b>BUILD_PIP_DIST_CHECK</b>
			(cd STATUS_ORIGINAL/THIS_MODULE_PIP && rm -rf *)
			
			#
			#	INSTALL THE LATEST VERSION OF THE "HEALTH_MONITOR" FROM PIP
			#
			(cd STATUS_ORIGINAL && pip install "HEALTH_MONITOR==0.0.3" --target THIS_MODULE_PIP)

